.skills {
  position: relative;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.skills__more {
  margin-left: 2.25rem;
  margin-top: 3.125rem;
}

.skills__title {
  font-size: 3.125rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 3.75rem;
}

.skills__name {
  font-weight: 600;
  color: #ffffff;
  text-align: right;
}

.skills__item--others {
  display: flex;
  flex-wrap: wrap;
}

.skills__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.9375rem;
}

.skills__pb {
  background: #d8bac6;
  height: 0.5625rem;
  margin-left: 2.25rem;
}

.skills__rate {
  height: 100%;
  transition: all 0.8s ease;
}

.skills__more {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.875rem;
}

.skills__profile {
  display: none;
}

@media (min-width: 576px) {
  .skills__title {
    margin-left: 3.75rem;
  }

  .skills__item {
    width: 25.125rem;
  }
}

@media (min-width: 768px) {
  .skills {
    padding-top: 6.5625rem;
    padding-bottom: 6.5625rem;
  }

  .skills__item--others {
    flex-wrap: nowrap;
  }

  .skills__pb {
    width: 16.5625rem;
  }

  .skills__profile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .skills__item--others {
    margin-top: -20px;
  }
}
