import React from 'react';

export interface I{{pascalCase name}}Props {
 
}

export const {{pascalCase name}}Container = (props: I{{pascalCase name}}Props) => {
  const { } = props;

  return (
        <div>
            Full Redux Container
        </div>
  );
};
